@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        width: 100%;
        margin: 5px;
    }
}

aside {
    flex-grow: 1;
    width: auto;
    margin-left: 5px;
}